#root {
  max-width: 1280px;
  font-family: 'Montserrat',  sans-serif;
}

.rit {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.rit > :first-child {
  margin: 24px 24px;
  display: flex;
  justify-content: space-between;
}

.rit > :first-child > :last-child {
  display: flex;
  gap: 16px;
  padding-right: 64px;
}

.logoClass {
  width: 254px;
  height: 60px;
}

.secondSection {
  background-color: #000000;
  color: #FAFAFA;
  padding-left: 64px;
  display: flex;
  justify-content: space-around;
}

.secondSection > :first-child > :first-child {
  font-size: 48px;
  font-weight: bold;
  width: 400px;
}

.secondSection > :first-child > :first-child > span {
  color: #FE5407;
}

.secondSection > :first-child > :nth-child(2) {
  width: 550px;
}

.secondSection > :first-child > :nth-child(2) > span {
  color: #FE5407;
}

.lastSection {
  background-color: #000000;
  color: #FAFAFA;
  padding-left: 100px;
  display: flex;
  justify-content: flex-start;
}

.lastSection > :first-child > :first-child {
  font-size: 48px;
  font-weight: bold;
  width: 480px;
}

.lastSection > :first-child > :first-child > span {
  color: #FE5407;
}

.lastSection > :first-child > :nth-child(2) {
  width: 365px;
}

.lastSection > :first-child > :nth-child(2) > span {
  color: #FE5407;
}

.logoBoxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
}

.logoBoxesRow {
  display: flex;
  gap: 8px;
}

.floatingfirst {
  width: 100px;
  height: 100px;
  background-color: #FA3211;
  border-radius: 12%;
}

.floatingsecond {
  width: 100px;
  height: 100px;
  background-color: #FE5407;
  border-radius: 12%;
}

.floatingblack {
  width: 100px;
  height: 100px;
  background-color: #000000;
  border-radius: 12%;
}

.thirdSection > :first-child {
  margin: 0 auto;
  padding: 2rem;
  width: 950px;
}

.thirdSection > :first-child > :last-child > div {
  display: flex;
  justify-content: space-between;
}

.columnModule {
  width: 200px;
}

.fourthSection {
  background-color: #313131;
}

.fourthSection > :first-child {
  margin: 0 auto;
  padding: 2rem;
  width: 950px;
  color: #FFFFFF;
}

.fourthSection > :first-child > :last-child > div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 430px) {
  .logoClass {
  width: 127px;
  height: 30px;
  }
.rit {
  width: 100vw;
}
  .rit > :first-child {
    flex-direction: column;
  }
  .rit > :first-child > :last-child {
  padding-right: 2px;
  }
  .secondSection {
    padding-left: 32px;
  }
  
  .secondSection > :first-child > :first-child {
    font-size: 32px;
    width: 300px;
  }
  .floatingfirst {
    display: none;
  }
  .floatingsecond {
    display: none;
  }
  .floatingblack {
    display: none;
  }
  .secondSection > :first-child > :nth-child(2) {
    width: 320px;
  }

  .lastSection {
    padding-left: 8px;
  }
  
  .lastSection > :first-child > :first-child {
    font-size: 32px;
    width: 340px;
  }
  .columnModule {
    width: 100px;
    font-size: 12px;
  }
  .thirdSection > :first-child {
    width: 350px;
    padding: 8px;
  }
  .fourthSection > :first-child {
    width: 350px;
    padding: 8px;
  }
}

